Source: kodi-pvr-dvblink
Priority: extra
Maintainer: Nobody <nobody@kodi.tv>
Build-Depends: debhelper (>= 9.0.0), cmake, libtinyxml2-dev, kodi-pvr-dev,
               libkodiplatform-dev (>= 16.0.0), kodi-addon-dev
Standards-Version: 3.9.4
Section: libs

Package: kodi-pvr-dvblink
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: DVBLink PVR for Kodi
 DVBLink PVR for Kodi

Package: kodi-pvr-dvblink-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for DVBLink PVR for Kodi
 debug symbols for DVBLink PVR for Kodi

